<body>
    <mat-card>
        <b><span>Olá Usuário, Bem vindo!!</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Clientes</h2>
                    <h1 class="title">{{data?.client}}</h1>
                    <p><button class="button" [routerLink]="['/agenda/client']">Ver clientes</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Vendas</h2>
                    <h1 class="title">{{data?.bill}}</h1>
                    <p><button class="button" [routerLink]="['/agenda/bill']">Ver vendas</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Produtos</h2>
                    <h1 class="title">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/agenda/product']">Ver estoque</button></p>
                </div>
            </div>
        </div>
    </div>
</body>